In [2]:
import numpy as np 
import pandas as pd

In [3]:
df_mov=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.12_pandas_4\movies.csv',index_col=0)
df_dir=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.12_pandas_4\directors.csv',index_col=0)
df_mer=df_mov.merge(df_dir,how='left',left_on='director_id',right_on='id')
df_mer[['budget','revenue']]=df_mer[['budget','revenue']]/1000000

# Group by peripherals

## Group by describe

In [47]:
# NOTE THAT IF ATTRIBUTE IS NOT MENTIONED AFTER GROUP BY, THEN AGGREGATION HAPPENS TO ALL THE APPLICABLE COLUMNS

# df_mer.groupby(['director_name','year']).describe().reset_index()
# df_mer.groupby(['director_name']).describe().reset_index()
df_mer.groupby(['director_name'])['budget'].describe().reset_index()

,director_name,count,mean,std,min,25%,50%,75%,max
0,Adam McKay,6.0,56.916667,28.299146,26.0,33.50,57.500000,70.625000,100.0
1,Adam Shankman,8.0,48.375000,24.744047,11.0,31.25,53.000000,63.750000,80.0
2,Alejandro González Iñárritu,6.0,33.333333,50.816008,0.0,6.00,19.000000,23.750000,135.0
3,Alex Proyas,5.0,70.400000,56.287654,15.0,27.00,50.000000,120.000000,140.0
4,Alexander Payne,5.0,15.600000,10.990905,0.0,12.00,16.000000,20.000000,30.0
...,...,...,...,...,...,...,...,...,...
194,Wes Craven,10.0,23.380000,12.591867,1.8,14.00,24.500000,32.750000,40.0
195,Wolfgang Petersen,7.0,90.142857,63.763701,14.0,38.50,85.000000,140.000000,175.0
196,Woody Allen,18.0,11.777778,9.453014,0.0,1.00,15.000000,17.750000,30.0
197,Zack Snyder,7.0,122.857143,84.163390,28.0,72.50,82.000000,177.500000,250.0
198,Zhang Yimou,6.0,20.833352,37.928429,0.0,0.00,0.000055,23.250028,94.0

## Custom group by

### apply

In [53]:
df_mer.groupby('director_name')['title'].apply(set).reset_index()

,director_name,title
0,Adam McKay,"{Anchorman: The Legend of Ron Burgundy, Tallad..."
1,Adam Shankman,"{A Walk to Remember, Cheaper by the Dozen 2, R..."
2,Alejandro González Iñárritu,"{21 Grams, Biutiful, Babel, Birdman, Amores pe..."
3,Alex Proyas,"{Dark City, Knowing, Gods of Egypt, I, Robot, ..."
4,Alexander Payne,"{The Descendants, Sideways, About Schmidt, Ele..."
...,...,...
194,Wes Craven,"{My Soul to Take, Scream 2, Scream 4, A Nightm..."
195,Wolfgang Petersen,"{Outbreak, The Perfect Storm, Poseidon, Air Fo..."
196,Woody Allen,"{Whatever Works, Midnight in Paris, Blue Jasmi..."
197,Zack Snyder,"{Dawn of the Dead, Watchmen, Man of Steel, 300..."
198,Zhang Yimou,"{A Woman, a Gun and a Noodle Shop, The Flowers..."

### Lambda function

In [56]:
# df_mer.groupby('director_name')['budget'].apply(lambda x: x.mean()-x.median()).reset_index()
df_mer.groupby('director_name').apply(lambda x: (x['revenue']-x['budget']).mean()).reset_index()

C:\Users\28962\AppData\Local\Temp\ipykernel_3864\2080057639.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_mer.groupby('director_name').apply(lambda x: (x['revenue']-x['budget']).mean()).reset_index()

                   director_name           0
0                     Adam McKay   86.262743
1                  Adam Shankman   60.820347
2    Alejandro González Iñárritu  112.996645
3                    Alex Proyas   84.512492
4                Alexander Payne   66.446991
..                           ...         ...
194                   Wes Craven   53.099428
195            Wolfgang Petersen  140.573726
196                  Woody Allen   22.717018
197                  Zack Snyder  230.885341
198                  Zhang Yimou   40.094950

[199 rows x 2 columns]

### multiple granularity aggregations

In [62]:
df_mer.groupby('director_name')[['budget','revenue']].mean().reset_index()

                   director_name      budget     revenue
0                     Adam McKay   56.916667  143.179409
1                  Adam Shankman   48.375000  109.195347
2    Alejandro González Iñárritu   33.333333  146.329979
3                    Alex Proyas   70.400000  154.912492
4                Alexander Payne   15.600000   82.046991
..                           ...         ...         ...
194                   Wes Craven   23.380000   76.479428
195            Wolfgang Petersen   90.142857  230.716583
196                  Woody Allen   11.777778   34.494796
197                  Zack Snyder  122.857143  353.742484
198                  Zhang Yimou   20.833352   60.928302

[199 rows x 3 columns]

### multiple  aggregations (p-1)

In [59]:
df_mer.groupby('director_name').agg(a=('budget','sum'),
                                    b=('revenue','count'))

                                     a   b
director_name
Adam McKay                   341.50000   6
Adam Shankman                387.00000   8
Alejandro González Iñárritu  200.00000   6
Alex Proyas                  352.00000   5
Alexander Payne               78.00000   5
...                                ...  ..
Wes Craven                   233.80000  10
Wolfgang Petersen            631.00000   7
Woody Allen                  212.00000  18
Zack Snyder                  860.00000   7
Zhang Yimou                  125.00011   6

[199 rows x 2 columns]

## grouped filter using apply: P(-1)

In [ ]:
# FILTER FUNCTION RETURNS ITERABLE
df_mer.groupby('director_name').filter(lambda x: x['budget'].max()>=100)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237.00,150,2787.965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300.00,139,961.000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245.00,107,880.674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250.00,112,1084.939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258.00,115,890.871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,0.40,33,100.000000,Mad Max,6.6,1213,4845,1979,Apr,Thursday,George Miller,4845,Male
1451,48268,0.20,13,4.505922,Swingers,6.8,253,4813,1996,Oct,Friday,Doug Liman,4813,Male
1452,48274,0.00,5,2.611555,Three,6.3,31,4936,2010,Dec,Thursday,Tom Tykwer,4936,Male
1458,48335,0.06,27,3.221152,Pi,7.1,586,4881,1998,Jul,Friday,Darren Aronofsky,4881,Male
1460,48363,0.00,3,0.321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,4809,Male

# Multiple index df

In [20]:
df_mult_index=df_mer.groupby('director_name')[['year', 'title']].aggregate({'year':['min',max],
                             'title':'count'})
df_mult_index

C:\Users\28962\AppData\Local\Temp\ipykernel_18800\2435733554.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_mult_index=df_mer.groupby('director_name')[['year', 'title']].aggregate({'year':['min',max],

                             year       title
                              min   max count
director_name
Adam McKay                   2004  2015     6
Adam Shankman                2001  2012     8
Alejandro González Iñárritu  2000  2015     6
Alex Proyas                  1994  2016     5
Alexander Payne              1999  2013     5
...                           ...   ...   ...
Wes Craven                   1984  2011    10
Wolfgang Petersen            1981  2006     7
Woody Allen                  1977  2013    18
Zack Snyder                  2004  2016     7
Zhang Yimou                  2002  2014     6

[199 rows x 3 columns]

In [18]:
df_mult_index['year']

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

# Problems

## Startswith and ends with

## Split

In [46]:
import pandas as pd
df = pd.DataFrame({'City\tState': ["Kolkata\tWest Bengal", "Chennai\tTamil Nadu", "Hyderabad\tTelengana", "Bangalore\tKarnataka"]})

In [47]:
df[['City', 'State']] = df['City\tState'].str.split('\t', expand=True)

In [48]:
df.drop('City\tState',axis=1,inplace=True)
df

        City        State
0    Kolkata  West Bengal
1    Chennai   Tamil Nadu
2  Hyderabad    Telengana
3  Bangalore    Karnataka

In [ ]:
'''
Q -11: Get the Month
'''

In [58]:
a=[56, 92, 29, 93, 55, 32 ]
b=['2021-01-01', '2021-02-12', '2021-04-16', '2021-01-22', '2021-01-15', '2021-02-26' ]

In [69]:
df= pd.DataFrame({'RID': a, 'RDate': b})
df['RDate']=df['RDate'].astype('date64[pyarrow]')
df['RMonth'] = df['RDate'].dt.month
df['RYear'] = df['RDate'].dt.year
df['RDay'] = df['RDate'].dt.day

In [67]:
df

   RID       RDate  RMonth  RYear  RDay
0   56  2021-01-01       1   2021     1
1   92  2021-02-12       2   2021    12
2   29  2021-04-16       4   2021    16
3   93  2021-01-22       1   2021    22
4   55  2021-01-15       1   2021    15
5   32  2021-02-26       2   2021    26