In [ ]:
'''
1 - Chi squared test revision - Exhibit 1 - ONLY DF_3 AND DF_4 ARE SHOWING TRUE P_VALUE
    NOTE 1  - CHI SQUARE TEST EXPECTS RAW COUNTS AND NOT PROPORTIONS AND HENCE NEVER USE NORMALIZE. 
        EXAMPLE - DF_6 TO DF_9 ARE OF NO USE
    NOTE 2 - CHI SQUARE TEST SHOULD ALSO NOT INCLUDE TOTALS. THAT ALSO DISTORTS P_VALUE
        EXAMPLE - DF_2 AND DF_3 ARE ALSO OF NO USE
2 - Types of test and use cases
    numerical vs 2 categories - T test (Test of dependence)
    Categorical vs categorical - Chi square test
    numerical vs numerical - correlation test
    numerical vs >2 categories - ANOVA test (Test of difference)
3 - F ratio - (variance between groups)/(variance within groups)
    F ratio low = h0
    f ration high = h1
4 ANOVA calculation
    from scipy.stats import f_oneway
    NOTE - NAN VALUES GIVE ERROR IN ANOVA TEST
'''

In [35]:
import pandas as pd
import numpy as np 
from scipy.stats import chi2_contingency,chisquare,f_oneway,ttest_ind

# Chi square reviosion

## Exhibit 1

In [3]:
df=pd.read_csv(r'C:\Users\Mayank Bhatia\Documents\GitHub\DSML\9_data_analytics_and_visualisation_fundamentals\9.5_anova\aerofit.csv')

In [ ]:
df_2=pd.crosstab(index=df['Gender'],columns=df['Product'],margins=True)
df_3=pd.crosstab(index=df['Product'],columns=df['Gender'],margins=True)
df_4=pd.crosstab(index=df['Gender'],columns=df['Product']) ## ONLY CORRECT WAY
df_5=pd.crosstab(index=df['Product'],columns=df['Gender']) ## ONLY CORRECT WAY

df_6=pd.crosstab(index=df['Gender'],columns=df['Product'],margins=True,normalize="index")
df_7=pd.crosstab(index=df['Product'],columns=df['Gender'],margins=True,normalize="index")
df_8=pd.crosstab(index=df['Gender'],columns=df['Product'],normalize="index")
df_9=pd.crosstab(index=df['Product'],columns=df['Gender'],normalize="index")

In [16]:
print(2,chi2_contingency(df_2))
print(3,chi2_contingency(df_3))
print(4,chi2_contingency(df_4))
print(5,chi2_contingency(df_5))
print(6,chi2_contingency(df_6))
print(7,chi2_contingency(df_7))
print(8,chi2_contingency(df_8))
print(9,chi2_contingency(df_9))

2 Chi2ContingencyResult(statistic=np.float64(12.923836032388664), pvalue=np.float64(0.044261507182020966), dof=6, expected_freq=array([[ 33.77777778,  25.33333333,  16.88888889,  76.        ],
       [ 46.22222222,  34.66666667,  23.11111111, 104.        ],
       [ 80.        ,  60.        ,  40.        , 180.        ]]))
3 Chi2ContingencyResult(statistic=np.float64(12.923836032388664), pvalue=np.float64(0.044261507182020966), dof=6, expected_freq=array([[ 33.77777778,  46.22222222,  80.        ],
       [ 25.33333333,  34.66666667,  60.        ],
       [ 16.88888889,  23.11111111,  40.        ],
       [ 76.        , 104.        , 180.        ]]))
4 Chi2ContingencyResult(statistic=np.float64(12.923836032388664), pvalue=np.float64(0.0015617972833158714), dof=2, expected_freq=array([[33.77777778, 25.33333333, 16.88888889],
       [46.22222222, 34.66666667, 23.11111111]]))
5 Chi2ContingencyResult(statistic=np.float64(12.923836032388664), pvalue=np.float64(0.0015617972833158714), dof=2, expected_freq=array([[33.77777778, 46.22222222],
       [25.33333333, 34.66666667],
       [16.88888889, 23.11111111]]))
6 Chi2ContingencyResult(statistic=np.float64(0.1542203518503715), pvalue=np.float64(0.9971755123183478), dof=4, expected_freq=array([[0.45179187, 0.33766307, 0.21054506],
       [0.45179187, 0.33766307, 0.21054506],
       [0.45179187, 0.33766307, 0.21054506]]))
7 Chi2ContingencyResult(statistic=np.float64(0.2843831404018168), pvalue=np.float64(0.9629383238948965), dof=3, expected_freq=array([[0.39513889, 0.60486111],
       [0.39513889, 0.60486111],
       [0.39513889, 0.60486111],
       [0.39513889, 0.60486111]]))
8 Chi2ContingencyResult(statistic=np.float64(0.15617653757272545), pvalue=np.float64(0.9248827846594476), dof=2, expected_freq=array([[0.45546559, 0.33982794, 0.20470648],
       [0.45546559, 0.33982794, 0.20470648]]))
9 Chi2ContingencyResult(statistic=np.float64(0.28262638757772063), pvalue=np.float64(0.8682173488303161), dof=2, expected_freq=array([[0.38611111, 0.61388889],
       [0.38611111, 0.61388889],
       [0.38611111, 0.61388889]]))

# Problems

In [25]:
# q1

data = {
    'Northeast': [13, 8, 11, 12, 11],
    'Midwest':   [15, 10, 16, 11, 13, 10],
    'South':     [5, 11, 9, 5],
    'West':      [8, 10, 6, 5, 7]
}

# Since the columns have different lengths, we need to pad the shorter ones with NaN
from itertools import zip_longest

# Transpose the data to rows, padding with None (which pandas will convert to NaN)
rows = list(zip_longest(
    data['Northeast'],
    data['Midwest'],
    data['South'],
    data['West']
))

df = pd.DataFrame(rows, columns=['Northeast', 'Midwest', 'South', 'West'])

# print(f_oneway(df['Northeast'],df['Midwest'],df['South'],df['West']))  ## This gives error because of nan values
a = [13, 8, 11, 12, 11]
b = [15, 10, 16, 11, 13, 10]
c = [5, 11, 9, 5]
d = [8, 10, 6, 5, 7]

print(f_oneway(a,b,c,d))

F_onewayResult(statistic=np.float64(6.324748040313554), pvalue=np.float64(0.004930291920562857))

In [27]:
# q2 
a = [382, 391, 335, 368, 400, 372]
b = [560, 343, 512, 329, 391, 367]
c = [384, 458, 409, 309, 374, 459]
d = [325, 390, 304, 240, 306, 169]
e = [360, 298, 272, 368, 320, 326]

print(f_oneway(a,b,c,d,e))

F_onewayResult(statistic=np.float64(4.238644902556343), pvalue=np.float64(0.009362001936328832))

In [36]:
# q3

a = [19.60, 18.82, 19.00, 18.45, 19.79, 19.03, 17.89, 19.42]
b = [21.10, 20.00, 20.43, 19.67, 18.99, 19.98, 20.14, 19.78]
c = [10.31, 10.02, 9.41, 9.89, 10.05, 10.52, 11.02, 10.42]
d = [17.02, 16.71, 17.78, 18.65, 15.98, 17.63, 17.00, 16.78, 16.92, 17.14]

print(f_oneway(a,b,c,d))
print(ttest_ind(a,b))
print(ttest_ind(a,c))
print(ttest_ind(a,d))
print(ttest_ind(b,c))
print(ttest_ind(b,d))
print(ttest_ind(d,e))

F_onewayResult(statistic=np.float64(404.7865500650496), pvalue=np.float64(2.3921494414993266e-24))
TtestResult(statistic=np.float64(-3.281024608464368), pvalue=np.float64(0.005464761718691163), df=np.float64(14.0))
TtestResult(statistic=np.float64(31.59766943587199), pvalue=np.float64(2.0378129111849536e-14), df=np.float64(14.0))
TtestResult(statistic=np.float64(5.702213789495044), pvalue=np.float64(3.2711647663684055e-05), df=np.float64(16.0))
TtestResult(statistic=np.float64(35.80102299364571), pvalue=np.float64(3.618464053986992e-15), df=np.float64(14.0))
TtestResult(statistic=np.float64(8.920885777183635), pvalue=np.float64(1.312460176484707e-07), df=np.float64(16.0))
TtestResult(statistic=np.float64(-27.290730939063533), pvalue=np.float64(1.5372037575215852e-13), df=np.float64(14.0))

In [37]:
# q4
a = [19.9, 15.3, 2.2, 6.8, 34.2, 8.3, 12.0, 7.0, 9.5, 1.1]
b = [1.8, 24.6, 7.2, 37.0, 7.2, 21.2, 6.5, 23.6]
c = [13.3, 23.0, 25.4, 15.3, 57.1, 14.5, 26.0]
print(f_oneway(a,b,c))

F_onewayResult(statistic=np.float64(2.4686944536875277), pvalue=np.float64(0.10782985675757563))

In [38]:
# q5

a = [71, 62, 63, 59, 67, 68, 63, 62, 66, 65, 61, 60]
b = [67, 68, 72, 66, 65, 69, 71, 70, 65, 64, 68]
c = [68, 67, 66, 68, 69, 70, 71, 69, 66, 67]
print(f_oneway(a,b,c))

F_onewayResult(statistic=np.float64(7.899836075209478), pvalue=np.float64(0.0017534092082519947))

In [50]:
# q6
act=np.array([45,50,55])
rat=np.array([0.3,0.4,0.3])
exp=rat*np.sum(act)
print(chisquare(act,exp))

Power_divergenceResult(statistic=np.float64(3.8888888888888893), pvalue=np.float64(0.1430666827544082))

In [51]:
# q7
act=np.array([30,85,85])
rat=np.array([0.2,0.5,0.3])
exp=rat*np.sum(act)
print(chisquare(act,exp))

Power_divergenceResult(statistic=np.float64(15.166666666666666), pvalue=np.float64(0.0005088621855732918))