In [ ]:
'''
Why pandas - because numpy has homo data whereas pandas can hav hetero data
Pandas series  - one column pf df is series
'''

In [ ]:
import numpy as np
import pandas as pd

# Summary

In [19]:


df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
print(df.info())
print(df.head(5))
print(df.tail(5))
print(df.shape)
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None
       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298
(1704, 6)
Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

# Index

In [1]:
# Index of a series is immutable

# Series

In [ ]:
# Fetch list of specific series- in list or normally , i.e series and dataframe

# Importance of iloc - only way to slice columns

In [ ]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.iloc[:10,:3]
df[:10]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439
7  Afghanistan  1987    13867957      Asia    40.822  852.395945
8  Afghanistan  1992    16317921      Asia    41.674  649.341395
9  Afghanistan  1997    22227415      Asia    41.763  635.341351

# DF from scratch

## Manual entries through a dict

In [7]:
dict={"name":["mayank","pankaj"],
      "age":[30,33]}

df_dict=pd.DataFrame(dict)

## Row Oriented

In [14]:
df_row=pd.DataFrame([["mayank",30],
                     ["pankaj",34]],
                     columns=["name","age"])

# note that single row entry will give an error because pd expects list of rows

df_row_1=pd.DataFrame([["mayank",30]],
                     columns=["name","age"]) # no error

# df_row_2=pd.DataFrame(["mayank",30],
#                      columns=["name","age"]) # this will give error

## Column Oriented - similar to dict

In [18]:
df_column=pd.DataFrame({"name":["Mayank","Pankaj"],
                        "age":[30,33]}) 

# note that square brackets wont be taken instead of curly beacuse it can take only dict format

# unique and nunique

In [30]:
print(df['country'].unique())
df['country'].nunique()

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Australia'
 'Austria' 'Bahrain' 'Bangladesh' 'Belgium' 'Benin' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.'
 'Congo, Rep.' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Czech Republic' 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador'
 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Ethiopia' 'Finland'
 'France' 'Gabon' 'Gambia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kenya' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Madagascar' 'Malawi' 'Malaysia'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Reunion' 'Romania' 'Rwanda' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Slovak Republic' 'Slovenia' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka'
 'Sudan' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda'
 'United Kingdom' 'United States' 'Uruguay' 'Venezuela' 'Vietnam'
 'West Bank and Gaza' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']

142

## distribution with unique values

In [33]:
df['country'].value_counts()

country
Afghanistan           12
Albania               12
Algeria               12
Angola                12
Argentina             12
                      ..
Vietnam               12
West Bank and Gaza    12
Yemen, Rep.           12
Zambia                12
Zimbabwe              12
Name: count, Length: 142, dtype: int64

# Column Manipulation

## Change the name of the column

In [40]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.rename({"country":"country_2","population":"population_2"})
df.rename({"country":"country_2","population":"population_2"},axis=1)

# Note that if axis is not provided, then it creates 2 new columns

        country_2  year  population_2 continent  life_exp     gdp_cap
0     Afghanistan  1952       8425333      Asia    28.801  779.445314
1     Afghanistan  1957       9240934      Asia    30.332  820.853030
2     Afghanistan  1962      10267083      Asia    31.997  853.100710
3     Afghanistan  1967      11537966      Asia    34.020  836.197138
4     Afghanistan  1972      13079460      Asia    36.088  739.981106
...           ...   ...           ...       ...       ...         ...
1699     Zimbabwe  1987       9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992      10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997      11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002      11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007      12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

## importance of inplace=True

In [45]:
print(df) # see that columns name arent changed from previous command. To change that, use inplace=True

df.rename({"country":"country_2","population":"population_2"},axis=1,inplace=True)

        country_2  year  population_2 continent  life_exp     gdp_cap
0     Afghanistan  1952       8425333      Asia    28.801  779.445314
1     Afghanistan  1957       9240934      Asia    30.332  820.853030
2     Afghanistan  1962      10267083      Asia    31.997  853.100710
3     Afghanistan  1967      11537966      Asia    34.020  836.197138
4     Afghanistan  1972      13079460      Asia    36.088  739.981106
...           ...   ...           ...       ...       ...         ...
1699     Zimbabwe  1987       9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992      10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997      11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002      11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007      12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

## Drop column

In [ ]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.drop("continent",axis=1,inplace=True)
print(df)

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

## Add column from scratch using loop

In [58]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')

df["year_2"]=df["year"]+7
print(df.columns)

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap',
       'year_2'],
      dtype='object')

In [ ]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df["test"]=[i**2 for i in range(df.shape[0])] # Note that nunber of entries here should be equal to number of indices in the df
df.head()

       country  year  population continent  life_exp     gdp_cap  test
0  Afghanistan  1952     8425333      Asia    28.801  779.445314     0
1  Afghanistan  1957     9240934      Asia    30.332  820.853030     1
2  Afghanistan  1962    10267083      Asia    31.997  853.100710     4
3  Afghanistan  1967    11537966      Asia    34.020  836.197138     9
4  Afghanistan  1972    13079460      Asia    36.088  739.981106    16

# Row manipulation

## index manipulation

In [ ]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.index.values
df.index=[i**2 for i in range(df.shape[0])]
df.reset_index(inplace=True) #important command

## DF slicing row wise

In [180]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df[:10] 
# however please note that single row cant be printed for exambple below command willl gove an error because this is syntax for selecting a column
# df[1] ]

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439
7  Afghanistan  1987    13867957      Asia    40.822  852.395945
8  Afghanistan  1992    16317921      Asia    41.674  649.341395
9  Afghanistan  1997    22227415      Asia    41.763  635.341351

## Loc and iloc

In [96]:
# Ignore loc. Only use iloc
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
# df.iloc[:3]
# df.iloc[[1,2,10,20]]
df.iloc[[-1,-2,-3]]

       country  year  population continent  life_exp     gdp_cap
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960

## Append: now concat

In [ ]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.head()
new_row=pd.DataFrame([{"country":"india","year":2020,"population":2,"continent":"mayank","life_exp":1,"gdp_cap":2}])
df_2=pd.concat([df,new_row],ignore_index=True) # check the impact of ignore_index=True

## Replace a row

In [128]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.iloc[2]={"country":"india","year":2020,"population":2,"continent":"mayank","life_exp":1,"gdp_cap":2}

## Delete a row

In [142]:
df=pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df.drop(3,axis=0,inplace=True)
df.drop([2,4],axis=0,inplace=True)
# # df.drop(:10,axis=0,inplace=True) # this wont work because slicing is not possible for drop
df.reset_index(inplace=True)

## Dedupe rows

In [ ]:
df = pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df_2 = df.iloc[-3:]
df_3 = pd.concat([df, df_2], ignore_index=True)

print(df_3.duplicated())

# Duplicated rows
df_3_duplicates = df_3[df_3.duplicated()]
print(df_3.shape[0])
df_3.drop_duplicates(inplace=True)
print(df_3.shape[0])

0       False
1       False
2       False
3       False
4       False
        ...
1702    False
1703    False
1704     True
1705     True
1706     True
Length: 1707, dtype: bool
1707
1704

## Drop duplicates to keep first/last record

In [ ]:
df = pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df_2 = df.iloc[-3:]
df_3 = pd.concat([df, df_2], ignore_index=True)

print(df_3.duplicated())

# Duplicated rows
df_3_duplicates = df_3[df_3.duplicated()]
print(df_3.shape[0])
df_3.drop_duplicates(keep='first',inplace=True)
print(df_3.shape[0])

0       False
1       False
2       False
3       False
4       False
        ...
1702    False
1703    False
1704     True
1705     True
1706     True
Length: 1707, dtype: bool
1707
1704

## Duplicates only for specific columns

In [178]:
df = pd.read_csv(r'C:\Users\28962\Documents\GitHub\DSML\7_data_analytics_and_visualisation\7.9_pandas_1\mckinsey.csv')
df_2 = df.iloc[-3:]
df_3 = pd.concat([df, df_2], ignore_index=True)

df_3.drop_duplicates(subset=['country'],keep='last')

                 country  year  population continent  life_exp       gdp_cap
11           Afghanistan  2007    31889923      Asia    43.828    974.580338
23               Albania  2007     3600523    Europe    76.423   5937.029526
35               Algeria  2007    33333216    Africa    72.301   6223.367465
47                Angola  2007    12420476    Africa    42.731   4797.231267
59             Argentina  2007    40301927  Americas    75.320  12779.379640
...                  ...   ...         ...       ...       ...           ...
1655             Vietnam  2007    85262356      Asia    74.249   2441.576404
1667  West Bank and Gaza  2007     4018332      Asia    73.422   3025.349798
1679         Yemen, Rep.  2007    22211743      Asia    62.698   2280.769906
1691              Zambia  2007    11746035    Africa    42.384   1271.211593
1706            Zimbabwe  2007    12311143    Africa    43.487    469.709298

[142 rows x 6 columns]

In [176]:
df_3.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

# Problems

In [ ]:
'''
Q2 - String into words as indices and their count as value

'''

# DIDNT GET NUMBER OF INPUTS IN THE SCALER SOLUTION

In [220]:
def solve(string):
    a=pd.DataFrame(string.split(),columns=["words"])
    result=pd.DataFrame(a['words'].value_counts())
    res=result.sort_index()
    return res

In [ ]:
'''
q4 - INTERESTING BECAUSE OF DF.INSERT

'''

In [ ]:
'''
Q7 - append rowns and remove specific row
'''

In [ ]:
a=pd.DataFrame([["a",12],
                ["b",15],
                ["c",18]]
                ,columns=["name","age"])


def add_and_remove(df, data, out):

    # Add the rows 
    df_b=pd.DataFrame(data,columns=df.columns)
    df=pd.concat([df,df_b],ignore_index=True)
    # Remove the out index row 
    df.drop(out,inplace=True)
    
    return df

In [ ]:
'''
Q9 - IMPORTANT TO ILLUSTRATE THAT DROP_DUPOICATES ONLY CHECKS RECORDS AND NOT INDICESB
'''

In [ ]:
'''
Additional porblems

'''

In [ ]:
'''

Q-4 d.index
'''